@theme {
  --color-blue-50: #eaebff;
  --color-blue-100: #c9ccff;
  --color-blue-200: #a4abff;
  --color-blue-300: #7a89ff;
  --color-blue-400: #576cff;
  --color-blue-500: #304ffe;
  --color-blue-600: #2b46f2;
  --color-blue-700: #1e3ae5;
  --color-blue-800: #0d2cda;
  --color-blue-900: #0009ca;

  --color-yellow-50: #fffde7;
  --color-yellow-100: #fff9c4;
  --color-yellow-200: #fff59d;
  --color-yellow-300: #fef075;
  --color-yellow-400: #fceb55;
  --color-yellow-500: #fae635;
  --color-yellow-600: #fdd835;
  --color-yellow-700: #fbc02d;
  --color-yellow-800: #f9a825;
  --color-yellow-900: #f57f17;

  --color-red-50: #ffebee;
  --color-red-100: #ffcdd2;
  --color-red-200: #ef9a9a;
  --color-red-300: #e57373;
  --color-red-400: #ef5350;
  --color-red-500: #f44336;
  --color-red-600: #e53935;
  --color-red-700: #d32f2f;
  --color-red-800: #c62828;
  --color-red-900: #b71b1c;

  --color-green-50: #e8f5e9;
  --color-green-100: #c8e6c9;
  --color-green-200: #a5d6a7;
  --color-green-300: #81c784;
  --color-green-400: #66bb6b;
  --color-green-500: #4caf51;
  --color-green-600: #43a048;
  --color-green-700: #388e3d;
  --color-green-800: #2e7d33;
  --color-green-900: #1b5e21;

  --color-orange-50: #fff3e0;
  --color-orange-100: #ffdfb2;
  --color-orange-200: #ffcb7f;
  --color-orange-300: #ffb64c;
  --color-orange-400: #ffa525;
  --color-orange-500: #ff9600;
  --color-orange-600: #fb8a00;
  --color-orange-700: #f57a01;
  --color-orange-800: #ef6a01;
  --color-orange-900: #983301;

  --color-info-50: #cbcbcb;
  --color-info-100: #cbcbcb;
  --color-info-200: #cbcbcb;
  --color-info-300: #cbcbcb;
  --color-info-400: #cbcbcb;
  --color-info-500: #cbcbcb;
  --color-info-600: #cbcbcb;
  --color-info-700: #cbcbcb;
  --color-info-800: #cbcbcb;
  --color-info-900: #cbcbcb;

  --color-gray-50: #f7f7f7;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #d0d0d0;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #a0a0a0;
  --color-gray-500: #898989;
  --color-gray-600: #717171;
  --color-gray-700: #5a5a5a;
  --color-gray-800: #414141;
  --color-gray-900: #2a2a2a;

  --color-white: #ffffff;
  --color-black: #121212;

  --color-primary: #304ffe;
  --color-secondary: #fbc02d;
  --color-error: #d32f2f;
  --color-success: #388e3d;
  --color-warning: #f57a01;
  --color-info: #b8b8b8;

  --color-bg: #121212;
  --color-bg-inverse: #ffffff;
  --color-bg-accent: #304ffe;
  --color-bg-secondary: #fdd835;
  --color-bg-error: #f44336;
  --color-bg-success: #43a048;
  --color-bg-warning: #fb8a00;
  --color-bg-accent-light: #1d2869;
  --color-bg-secondary-light: #67601f;
  --color-bg-error-light: #65241f;
  --color-bg-success-light: #274c29;
  --color-bg-warning-light: #69420b;

  --color-content-primary: #f7f7f7;
  --color-content-secondary: #e8e8e8;
  --color-content-tertiary: #d0d0d0;
  --color-content-disabled: #717171;
  --color-content-accent: #a4abff;
  --color-content-error: #ef9a9a;
  --color-content-success: #66bb6b;
  --color-content-warning: #ffb64c;
  --color-content-on-color: #ffffff;
  --color-content-on-inverse: #121212;

  --color-border: #898989;
  --color-border-accent: #576cff;
  --color-border-error: #ef5350;
  --color-border-success: #66bb6b;
  --color-border-warning: #ffa525;
  --color-divider: #5a5a5a;
  --color-divider-accent: #19214c;
  --color-divider-error: #4a1e1a;
  --color-divider-success: #1e351f;
  --color-divider-warning: #4c2f0d;

  --font-sans:
    'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;

  --tracking-none: 0;

  --text-title-xlarge: 34px;
  --text-title-xlarge--line-height: 41px;
  --text-title-xlarge--letter-spacing: 0;

  --text-title-large: 28px;
  --text-title-large--line-height: 34px;
  --text-title-large--letter-spacing: 0;

  --text-title-medium: 24px;
  --text-title-medium--line-height: 30px;
  --text-title-medium--letter-spacing: 0;

  --text-title-small: 22px;
  --text-title-small--line-height: 28px;
  --text-title-small--letter-spacing: 0;

  --text-headline-large: 20px;
  --text-headline-large--line-height: 26px;
  --text-headline-large--letter-spacing: 0;

  --text-headline-small: 18px;
  --text-headline-small--line-height: 25px;
  --text-headline-small--letter-spacing: 0;

  --text-subhead-large: 16px;
  --text-subhead-large--line-height: 23px;
  --text-subhead-large--letter-spacing: 0;

  --text-subhead-small: 14px;
  --text-subhead-small--line-height: 19px;
  --text-subhead-small--letter-spacing: 0;

  --text-body-large: 16px;
  --text-body-large--line-height: 24px;
  --text-body-large--letter-spacing: 0;

  --text-body-medium: 14px;
  --text-body-medium--line-height: 22px;
  --text-body-medium--letter-spacing: 0;

  --text-body-small: 12px;
  --text-body-small--line-height: 16px;
  --text-body-small--letter-spacing: 0;

  --text-label-large: 16px;
  --text-label-large--line-height: 24px;
  --text-label-large--letter-spacing: 0;

  --text-label-medium: 14px;
  --text-label-medium--line-height: 22px;
  --text-label-medium--letter-spacing: 0;

  --text-label-small: 12px;
  --text-label-small--line-height: 16px;
  --text-label-small--letter-spacing: 0;

  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--letter-spacing: 0;
}

@layer theme {
  .light {
    --color-bg: #ffffff;
    --color-bg-inverse: #121212;
    --color-bg-accent: #304ffe;
    --color-bg-secondary: #fdd835;
    --color-bg-error: #f44336;
    --color-bg-success: #43a048;
    --color-bg-warning: #fb8a00;
    --color-bg-accent-light: #eaebff;
    --color-bg-secondary-light: #fff9c4;
    --color-bg-error-light: #ffebee;
    --color-bg-success-light: #e8f5e9;
    --color-bg-warning-light: #fff3e0;

    --color-content-primary: #2a2a2a;
    --color-content-secondary: #414141;
    --color-content-tertiary: #5a5a5a;
    --color-content-disabled: #b8b8b8;
    --color-content-accent: #1e3ae5;
    --color-content-error: #b71b1c;
    --color-content-success: #1b5e21;
    --color-content-warning: #983301;
    --color-content-on-color: #ffffff;
    --color-content-on-inverse: #121212;

    --color-border: #d0d0d0;
    --color-border-accent: #576cff;
    --color-border-error: #f44336;
    --color-border-success: #66bb6b;
    --color-border-warning: #ffa525;
    --color-divider: #e8e8e8;
    --color-divider-accent: #c9ccff;
    --color-divider-error: #ffcdd2;
    --color-divider-success: #c8e6c9;
    --color-divider-warning: #fff3e0;
  }
}
