# Guidelines

- Check the documentation files in the `/docs` directory for instructions and guidelines.

# Package Manager

- Default: Bun. Others are not allowed.

# Code style: Functions

Whenever possible and more readable, prefer regular functions at module-level over arrow functions.

# Code styles Types vs Interfaces

- Always use types instead of interfaces.

# Tailwind 4

- Search on the web for Tailwind 4 documentation and examples.
- When the classes become a long string, use the `cn` function to split them into smaller strings.

# Index Files

- Index files (`index.ts`, `index.tsx`) should only contain exports or imports, not implementation code.
- Implementation code should be moved to separate files and exported from the index file.
