# Dependencies
node_modules
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist
build
.next
out
.turbo

# Cache
.cache
.tmp
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

